@import 'src/styles/themes.scss';

.root {
  padding: 6px 12px;
  border: 1px solid var(--color-font);
  border-radius: 4px;
  color: var(--color-font);
  flex-grow: 1;
  background-color: var(--color-bg-white);
  border: var(--border);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  outline: none;

  &:focus::placeholder {
    color: transparent;
  }
}