body {
  --color-font: #24292E;
  --color-bg-white: #FAFBFC;
  --border: 1px solid rgba(27, 31, 35, 0.15);
  --box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}

[data-theme='light'] {
  --color-bg: #e0e0e0;
  --toggle-bg: black;
}

[data-theme='dark'] {
  --color-bg: #131313;
  --toggle-bg: white;
}