body {


  & * {
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease, ;
  }
}

[data-theme='light'] {
  --color-bg: #D2D2D2;
  --color-container: white;
  --toggle: #0A1F32;
  --color-font: #0A1F32;
  --box-shadow: #344756 0px 8px 24px;
  --toggle-position: 4%;
}

[data-theme='dark'] {
  --color-bg: #0A1F32;
  --color-container: #2D384A;
  --toggle: #D2D2D2;
  --color-font: #D2D2D2;
  --box-shadow: rgba(197, 203, 209, 0.2) 0px 8px 24px;
  --toggle-position: 55%;
}